[package]
name = "splr"
version = "0.14.0-alpha0"
authors = ["Narazaki Shuji <shujinarazaki@protonmail.com>"]
description = "A modern CDCL SAT solver in Rust"
edition = "2018"
license = "MPL-2.0"
readme = "README.md"
repository = "https://github.com/shnarazk/splr"
homepage = "https://github.com/shnarazk/splr"
keywords = ["SAT", "SAT-solver", "logic", "satisfiability"]
categories = ["mathematics", "science"]

[dependencies]
bitflags = "1.3"

[features]
default = [
        # DEBUG "boundary_check",
        # increase memory pressure "bi_clause_completion",
        "clause_elimination",
        # "clause_rewarding",
        "clause_vivification",
        "dynamic_restart_threshold",
        # "incremental_solver",
        "LRB_rewarding",
        "Luby_stabilization",
        # DEBUG "maintain_watch_cache",
        "reason_side_rewarding",
        "rephase",
        "trail_saving",
        "unsafe_access"
        ]
best_phases_tracking = []
bi_clause_completion = []
boundary_check = []
clause_elimination = []
clause_rewarding = []
clause_vivification = []
chrono_BT = []
debug_propagation = []
dynamic_restart_threshold = []
EMA_calibration = []
EVSIDS = []
hashed_watch_cache = []
incremental_solver = []
just_used = []
LRB_rewarding = []
Luby_restart = []
Luby_stabilization = []
maintain_watch_cache = []
no_IO = []
reason_side_rewarding = []
rephase = ["best_phases_tracking"]
strategy_adaptation = []
support_user_assumption = []
trace_analysis = []
trace_elimination = []
trace_equivalency = []
trail_saving = []
unsafe_access = []

[profile.release]
lto = "fat"
codegen-units = 1
opt-level = 3
panic = "abort"
