[package]
name = "splr"
version = "0.6.2-dev.0"
authors = ["Narazaki Shuji <shujinarazaki@protonmail.com>"]
description = "A modern CDCL SAT solver in Rust"
edition = "2018"
license = "MPL-2.0"
readme = "README.md"
repository = "https://github.com/shnarazk/splr"
homepage = "https://github.com/shnarazk/splr"
keywords = ["SAT", "SAT-solver", "logic", "satisfiability"]
categories = ["mathematics", "science"]

[dependencies]
bitflags = "1.2"

[features]
default = ["staging"]
staging = ["extra_var_reward"]
boundary_check = []
ema_calibration = []
EVSIDS = []
explore_timestamp = ["staging"]
extra_var_reward = []
incremental_solver = []
luby_blocking = []
moving_var_reward_rate = []
no_IO = []
progress_ACC = []
progress_MLD = []
strategy_adaptation = []
trace_analysis = []
trace_elimination = []

[profile.release]
lto = "fat"
codegen-units = 1
opt-level = 3
panic = "abort"
