[package]
name = "splr"
version = "0.10.0-RC1"
authors = ["Narazaki Shuji <shujinarazaki@protonmail.com>"]
description = "A modern CDCL SAT solver in Rust"
edition = "2018"
license = "MPL-2.0"
readme = "README.md"
repository = "https://github.com/shnarazk/splr"
homepage = "https://github.com/shnarazk/splr"
keywords = ["SAT", "SAT-solver", "logic", "satisfiability"]
categories = ["mathematics", "science"]

[dependencies]
bitflags = "1.2"

[features]
default = [
           "bi_clause_completion",
           "clause_elimination",
           "clause_reduction",
           "clause_vivification",
           "LR_rewarding",
           "Luby_stabilization",
           "reason_side_rewarding",
           "rephase",
           "unsafe_access"
          ]
best_phases_tracking = []
bi_clause_completion = []
boundary_check = []
clause_elimination = []
clause_reduction = []
clause_vivification = []
debug_propagation = []
EMA_calibration = []
EVSIDS = []
hashed_watch_cache = []
incremental_solver = []
just_used = []
LR_rewarding = []
luby_restart = []
Luby_stabilization = []
maintain_watch_cache = []
no_IO = []
reason_side_rewarding = []
rephase = ["best_phases_tracking"]
strategy_adaptation = []
support_user_assumption = []
trace_analysis = []
trace_elimination = []
trace_equivalency = []
unsafe_access = []

[profile.release]
lto = "fat"
codegen-units = 1
opt-level = 3
panic = "abort"
