[package]
name = "splr"
version = "0.6.4-RC.2"
authors = ["Narazaki Shuji <shujinarazaki@protonmail.com>"]
description = "A modern CDCL SAT solver in Rust"
edition = "2018"
license = "MPL-2.0"
readme = "README.md"
repository = "https://github.com/shnarazk/splr"
homepage = "https://github.com/shnarazk/splr"
keywords = ["SAT", "SAT-solver", "logic", "satisfiability"]
categories = ["mathematics", "science"]

[dependencies]
bitflags = "1.2"

[features]
default = ["clause_elimination", "clause_reduction", "LR_rewarding", "Luby_stabilization", "reason_side_rewarding"]
best_phases_tracking = []
boundary_check = []
clause_elimination = []
clause_reduction = []
clause_vivification = []
ema_calibration = []
EVSIDS = []
incremental_solver = []
just_used = []
LR_rewarding = []
luby_restart = []
Luby_stabilization = []
no_IO = []
reason_side_rewarding = []
strategy_adaptation = []
trace_analysis = []
trace_elimination = []
use_rephase = []
var_staging = []

[profile.release]
lto = "fat"
codegen-units = 1
opt-level = 3
panic = "abort"
