name: Rust

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Prepare
        run: rustup update
      - name: Build executables
        run: cargo build --verbose
      - name: Build library
        run: cargo build --lib --verbose
      - name: Run tests
        run: cargo test --verbose -- --test-threads=1
